# Data Inspection

- Exploring missing values
- Making sure the columns and datatypes are correct

In [10]:
import pandas as pd

# Load the dataset
data = pd.read_csv("bias_detection_in_hiring.csv")

# View the first few rows
print(data.head())

# Get a summary of the data
print(data.info())

# Check for missing values
print(data.isnull().sum())

   S.No  Age Accessibility        EdLevel  Employment Gender MentalHealth  \
0     0  <35            No         Master           1    Man           No
1     1  <35            No  Undergraduate           1    Man           No
2     2  <35            No         Master           1    Man           No
3     3  <35            No  Undergraduate           1    Man           No
4     4  >35            No            PhD           0    Man           No

  MainBranch  YearsCode  YearsCodePro    Country  PreviousSalary  \
0        Dev          7             4     Sweden         51552.0
1        Dev         12             5      Spain         46482.0
2        Dev         15             6    Germany         77290.0
3        Dev          9             6     Canada         46135.0
4     NotDev         40            30  Singapore        160932.0

                                      HaveWorkedWith  ComputerSkills  Employed
0                          C++;Python;Git;PostgreSQL               4         0
1  Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...              12         1
2             C;C++;Java;Perl;Ruby;Git;Ruby on Rails               7         0
3  Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...              13         0
4                                         C++;Python               2         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73462 entries, 0 to 73461
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S.No            73462 non-null  int64
 1   Age             73462 non-null  object
 2   Accessibility   73462 non-null  object
 3   EdLevel         73462 non-null  object
 4   Employment      73462 non-null  int64
 5   Gender          73462 non-null  object
 6   MentalHealth    73462 non-null  object
 7   MainBranch      73462 non-null  object
 8   YearsCode       73462 non-null  int64
 9   YearsCodePro    73462 non-null  int64
 10  Country         73462 non-null  object
 11  PreviousSalary  73462 non-null  float64
 12  HaveWorkedWith  73399 non-null  object
 13  ComputerSkills  73462 non-null  int64
 14  Employed        73462 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 8.4+ MB
None
S.No               0
Age                0
Accessibility      0
EdLevel            0
Employment         0
Gender             0
MentalHealth       0
MainBranch         0
YearsCode          0
YearsCodePro       0
Country            0
PreviousSalary     0
HaveWorkedWith    63
ComputerSkills     0
Employed           0
dtype: int64

In [6]:
# Fill missing numerical values with median
data['Age'] = data['Age'].fillna(data['Age'].median())
data['yearsofexperience'] = data['yearsofexperience'].fillna(data['yearsofexperience'].median())

# Fill missing categorical values with mode
data['sex'] = data['sex'].fillna(data['sex'].mode()[0])
data['skills'] = data['skills'].fillna(data['skills'].mode()[0])

TypeError: Cannot convert ['<35' '<35' '<35' ... '<35' '<35' '<35'] to numeric

The 'Age' column contains value ['<35', '>35'] so to solve this,
we'll replace those with median values and since we don't have enough information regarding this
We'll assume <35 to be 30 and >35 to be 40

In [16]:
# age columns are a problem so fixing that

# Check unique values in the Age column
print(data['Age'].unique())

# Replace '<35' with 34 and '>35' with 36
data['Age'] = data['Age'].replace({'<35': '30', '>35': '40'})


print(data['Age'].unique())

# converting to numeric
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

# fill missing values with median age
data['Age'] = data['Age'].fillna(data['Age'].median())

print(data.head())

[30 40]
[30 40]
   S.No  Age Accessibility        EdLevel  Employment Gender MentalHealth  \
0     0   30            No         Master           1    Man           No
1     1   30            No  Undergraduate           1    Man           No
2     2   30            No         Master           1    Man           No
3     3   30            No  Undergraduate           1    Man           No
4     4   40            No            PhD           0    Man           No

  MainBranch  YearsCode  YearsCodePro    Country  PreviousSalary  \
0        Dev          7             4     Sweden         51552.0
1        Dev         12             5      Spain         46482.0
2        Dev         15             6    Germany         77290.0
3        Dev          9             6     Canada         46135.0
4     NotDev         40            30  Singapore        160932.0

                                      HaveWorkedWith  ComputerSkills  Employed
0                          C++;Python;Git;PostgreSQL               4         0
1  Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...              12         1
2             C;C++;Java;Perl;Ruby;Git;Ruby on Rails               7         0
3  Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...              13         0
4                                         C++;Python               2         0

Cleaning object columns - converting datatype 'man', 'woman' to m and f for male and female and n for non binary

In [20]:
# Check unique values
print(data['Gender'].unique())

# Replace inconsistent entries (e.g., 'male', 'Male', 'M' -> 'Male')
data['Gender'] = data['Gender'].str.lower().replace({
    'man': 'm',
    'woman': 'f',
    'nonbinary': 'n'
})

print(data.head())

['man' 'woman' 'nonbinary']
   S.No  Age Accessibility        EdLevel  Employment Gender MentalHealth  \
0     0   30            No         Master           1      m           No
1     1   30            No  Undergraduate           1      m           No
2     2   30            No         Master           1      m           No
3     3   30            No  Undergraduate           1      m           No
4     4   40            No            PhD           0      m           No

  MainBranch  YearsCode  YearsCodePro    Country  PreviousSalary  \
0        Dev          7             4     Sweden         51552.0
1        Dev         12             5      Spain         46482.0
2        Dev         15             6    Germany         77290.0
3        Dev          9             6     Canada         46135.0
4     NotDev         40            30  Singapore        160932.0

                                      HaveWorkedWith  ComputerSkills  Employed
0                          C++;Python;Git;PostgreSQL               4         0
1  Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...              12         1
2             C;C++;Java;Perl;Ruby;Git;Ruby on Rails               7         0
3  Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...              13         0
4                                         C++;Python               2         0

In [21]:
data.to_csv("cleaned_dataset.csv", index=False)